.card {
  text-align: center;
  border-radius: 8px;
  background-color: #0d164b;
  color: #fff;
  max-width: 320px;
  cursor: pointer;
}

.card_img {
  border-radius: 8px 8px 0px 0px;
}

.info {
  padding-bottom: 12px;
}
